In [1]:
import pandas as pd

# Технологии используемые на сайтах университетов

Решил изучить из чего собирают сайты университетов, участников [программы «Приоритет 2030»](https://priority2030.ru/). Что делал и использовал:

1. Взяты названия всех университетов, которые на ноябрь 2021 участвуют в программе (101);
2. С помощью [Яндекса](https://yandex.ru/) собранны сайты университетов и сформирован [файлик](./data/sites_and_names.csv) со всем этим добром;
3. С помощью API сервиса [Wappalyzer](https://www.wappalyzer.com/) и не хитрого [bash-скрипта](./data/get_tech.sh) сформированы [json-чики](./data/technologies) с технологиями используемыми на главных страницах;
4. Далее немного покрутив сформирована [матрица](./data/resul.csv) университеты х технологии (любители Ecxel последуйте по [ссылке](./data/resul.xls)).

## Исследуемые данные

Выведем первые 10 записей матрицы, которую используем для анализа.

In [3]:
df = pd.read_csv('data/resul.csv')
df.head(10)

,Unnamed: 0,Название,Категория,НИУ ВШЭ,МГТУ Баумана,МФТИ,НИЯУ МИФИ,МИСиС,СПбПУ,ТГУ,...,Оренбург ГУ,ПсковГУ,УлГУ,УГГУ,ТГУ имени Г.Р. Державина,ПГУПС,СГМУ Минздрава России,Тюменский ГМУ Минздрава России,ЮЗГУ,Количество
0,0,Google Optimize,A/B Testing,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,UserWay,Accessibility,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3
2,2,Twitter Ads,Advertising,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
3,3,Google AdSense,Advertising,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,Yandex.Metrika,Analytics,1,0,1,1,1,1,1,...,1,0,1,1,1,1,1,1,1,94
5,5,Google Analytics,Analytics,1,0,1,1,1,1,1,...,0,0,1,1,1,1,0,0,1,76
6,6,VK Pixel,Analytics,1,0,1,0,1,1,0,...,1,0,0,0,1,0,0,0,1,25
7,7,Facebook Pixel,Analytics,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,21
8,8,Liveinternet,Analytics,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,9
9,9,Alexa Certified Site Metrics,Analytics,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [4]:
# Убираем всё ненужное
df = df[['Название', 'Категория', 'Количество']]

## Наиболее востребованные технологии на сайте университетов

В языках программирования у нас c лютым отрывом побеждает [PHP](https://www.php.net/) 👏

In [6]:

df[df['Категория'] == 'Programming languages'].head(10).reset_index()

   index    Название              Категория  Количество
0    112         PHP  Programming languages          75
1    113  TypeScript  Programming languages           6
2    114        Java  Programming languages           3
3    115      Python  Programming languages           3
4    116     Node.js  Programming languages           2
5    117        Ruby  Programming languages           1

Что первичней CMS или язык разработки не понятно, но сразу зафиксируем что Российская [1C-Bitrix](https://www.1c-bitrix.ru/) лидирует.

In [7]:
df[df['Категория'] == 'CMS'].head(10).reset_index()

   index              Название Категория  Количество
0     21             1C-Bitrix       CMS          39
1     22                Drupal       CMS           6
2     23             WordPress       CMS           5
3     24                Joomla       CMS           3
4     25             TYPO3 CMS       CMS           2
5     26  Microsoft SharePoint       CMS           2
6     27                 Tilda       CMS           1
7     28               UMI.CMS       CMS           1
8     29              Bolt CMS       CMS           1
9     30               Liferay       CMS           1

Вузы не забывают про аналитику, где ТОП 1 занимает 🇷🇺 отечественна [Я.Метрика](https://metrika.yandex.ru/):

In [8]:
df[df['Категория'] == 'Analytics'].head(10).reset_index()

   index                             Название  Категория  Количество
0      4                       Yandex.Metrika  Analytics          94
1      5                     Google Analytics  Analytics          76
2      6                             VK Pixel  Analytics          25
3      7                       Facebook Pixel  Analytics          21
4      8                         Liveinternet  Analytics           9
5      9         Alexa Certified Site Metrics  Analytics           2
6     10                     Matomo Analytics  Analytics           1
7     11       Google Ads Conversion Tracking  Analytics           1
8     12          Cloudflare Browser Insights  Analytics           1
9     13  Google Analytics Enhanced eCommerce  Analytics           1

IT-шники для в качестве web-сервера в большинтсве своём предпочитают [nginx](https://nginx.org/ru/):

In [9]:
df[df['Категория'] == 'Web servers'].head(10).reset_index()

   index       Название    Категория  Количество
0    142          Nginx  Web servers          79
1    143         Apache  Web servers          15
2    144            IIS  Web servers           3
3    145      OpenResty  Web servers           1
4    146  Apache Tomcat  Web servers           1

Данных по операционным системам собралось немного, но из того что есть видно, что почти все предпочитают Open Source:

In [10]:
df[df['Категория'] == 'Operating systems'].head(10).reset_index()

   index        Название          Категория  Количество
0    103          Ubuntu  Operating systems           7
1    104          Debian  Operating systems           4
2    105         FreeBSD  Operating systems           3
3    106          CentOS  Operating systems           3
4    107  Windows Server  Operating systems           3
5    108            UNIX  Operating systems           1

Немного информации по предпочтениям коллег в JavaScript:

In [11]:
df[df['Категория'] == 'JavaScript frameworks'].head(10).reset_index()

   index     Название              Категория  Количество
0     48      Angular  JavaScript frameworks           6
1     49       Vue.js  JavaScript frameworks           6
2     50         GSAP  JavaScript frameworks           4
3     51     MooTools  JavaScript frameworks           3
4     52        React  JavaScript frameworks           2
5     53          BEM  JavaScript frameworks           1
6     54  Backbone.js  JavaScript frameworks           1
7     55      Emotion  JavaScript frameworks           1
8     56    AngularJS  JavaScript frameworks           1
9     57      RightJS  JavaScript frameworks           1

In [12]:
df[df['Категория'] == 'JavaScript libraries'].head(10).reset_index()

   index        Название             Категория  Количество
0     63          jQuery  JavaScript libraries          96
1     64         core-js  JavaScript libraries          37
2     65       jQuery UI  JavaScript libraries          33
3     66        FancyBox  JavaScript libraries          33
4     67  jQuery Migrate  JavaScript libraries          17
5     68           Slick  JavaScript libraries          15
6     69       Modernizr  JavaScript libraries          12
7     70       Moment.js  JavaScript libraries          11
8     71         Select2  JavaScript libraries          11
9     72      DataTables  JavaScript libraries           7

Отсальное смотрите сами в [исходном файле](./data/resul.csv) или в [формате Excel](./data/resul.xls).

Если у Вас есть вопросы, а ещё лучше улучшения к данному материалу приглашаю Вас к открытому обсуждению в Телеграм [группе](https://t.me/psalgroup) посвящённой «Приоритету 2030» или ещё лучше, **присылайте свои issues-ы** сразу [в репозиторий](https://github.com/psalru/analytics/issues).