In [2]:
import os
import re
import json
import time
import js2py
import requests
import pandas as pd

# –®–∞–Ω—Ö–∞–π—Å–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥ —É–Ω–∏–≤–µ—Ä—Å–∏—Ç–µ—Ç–æ–≤

## –û–±—â–∏–π —Ä–µ–π—Ç–∏–Ω–≥

In [31]:
url_ranking = 'https://www.shanghairanking.com/api/pub/v1/inst'
resp_ranking = requests.get(url_ranking)
ranking = pd.DataFrame()

if resp_ranking.status_code == 200:
    json_data = resp_ranking.json()
    ranking = pd.json_normalize(json_data['data'])
else:
    print(f"{url_ranking} return status code {resp_ranking.status_code}")

ranking.to_csv('data/shanghai.csv', index=False)
ranking.to_excel('data/shanghai.xlsx', index=False)
ranking.head()

,nameEn,univLogo,univUp,region,rankingInfo,ranking
0,Harvard University,logo/032bd1b77.png,harvard-university,United States,ARWU 2022,1
1,Stanford University,logo/13de8913b.png,stanford-university,United States,ARWU 2022,2
2,Massachusetts Institute of Technology (MIT),logo/79165fd8b.png,massachusetts-institute-of-technology-mit,United States,ARWU 2022,3
3,University of Cambridge,logo/8d9861b69.png,university-of-cambridge,United Kingdom,ARWU 2022,4
4,"University of California, Berkeley",logo/0ff179fb8.png,university-of-california-berkeley,United States,ARWU 2022,5

–ü–æ–∫–∞ –¥–∞–Ω–Ω—ã–µ –Ω–µ –º–Ω–æ–≥–æ, –º–æ–∂–Ω–æ, –¥–ª—è –ø—Ä–∏–º–µ—Ä–∞, –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å –¢–û–ü 10 üá∑üá∫ —Ä–æ—Å—Å–∏–π—Å–∫–∏—Ö —É–Ω–∏–≤–µ—Ä—Å–∏—Ç–µ—Ç–æ–≤ –≤ —Ä–µ–π—Ç–∏–Ω–≥–µ.

In [7]:
ranking[ranking['region'] == 'Russia'][['nameEn', 'ranking']].head(10)

                                                nameEn  ranking
114                            Moscow State University  101-150
347                  Saint Petersburg State University  301-400
529         Moscow Institute of Physics and Technology  501-600
626                                     HSE University  601-700
654                                Sechenov University  601-700
742                       Novosibirsk State University  701-800
753       Skolkovo Institute of Science and Technology  701-800
761                             Tomsk State University  701-800
797                            Ural Federal University  701-800
847  National Research Nuclear University MEPhI (Mo...  801-900

–î–ª—è —Ç–æ–≥–æ —á—Ç–æ–±—ã –ø–æ–ª—É—á–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –ø–æ –ø—Ä–µ–¥–º–µ—Ç–Ω—ã–º —Ä–µ–π—Ç–∏–Ω–≥–∞–º, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—É—á–∏—Ç—å —Ä–µ—Ç—Ä–æ—Å–ø–µ–∫—Ç–∏–≤–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ, –ø–æ—Ç—Ä–µ–±—É–µ—Ç—Å—è –æ–±–æ–π—Ç–∏ –≤—Å–µ —Å—Ç—Ä–∞–Ω–∏—Ü—ã —É–Ω–∏–≤–µ—Ä—Å–∏—Ç–µ—Ç–æ–≤ –Ω–∞ —Å–∞–π—Ç–µ. –†–µ–π—Ç–∏–Ω–≥ –±–æ–ª—å—à–æ–π (–±–æ–ª–µ–µ 3 —Ç—ã—Å. –∑–∞–ø–∏—Å–µ–π), –ø–æ—ç—Ç–æ–º—É –∑–∞–ø–∞—Å–∞–µ–º—Å—è —Ç–µ—Ä–ø–µ–Ω–∏–µ–º –∏ –∂–¥—ë–º, –ø–µ—Ä–µ–æ–¥–∏—á–µ—Å–∫–∏ –ø—Ä–æ–≤–µ—Ä—è–µ–º —Å–æ–¥–µ—Ä–∂–∏–º–æ–µ –ø–∞–ø–∫–∏ `data/downloads/shanghai`.

In [16]:
data_folder = 'data/downloads/shanghai'

for i, r in ranking.iterrows():
    file_path = f"{data_folder}/{i+1}.json"

    if not os.path.isfile(file_path):
        university_path = r['univUp']
        university_url = f'https://www.shanghairanking.com/institution/{university_path}'
        html_resp = requests.get(university_url)

        if html_resp.status_code == 200:
            html = html_resp.text
            reg = f"\/_nuxt\/static\/\d+\/institution\/{university_path}\/payload\.js"
            payload = re.search(f"/_nuxt/static/\d+/institution/{university_path}/payload\.js", html)[0]
            university_id = payload.replace('/_nuxt/static/', '').replace(f"/{university_path}/institution/payload.js", '')
            js_url = f"https://www.shanghairanking.com/{payload}"
            js_resp = requests.get(js_url)

            if js_resp.status_code == 200:
                js_data = js_resp.text
                js_data = js2py.eval_js(js_data.replace(f'__NUXT_JSONP__("/institution/{university_path}", ', '')[:-2])
                university_data = js_data.data[0].univData.to_dict()

                with open(file_path, 'w') as f:
                    f.write(json.dumps(university_data, ensure_ascii=False, indent=4))
            else:
                print(f"{university_url} return status code {html_resp.status_code}")
        else:
            print(f"{university_url} return status code {html_resp.status_code}")

        # –ë–µ—Ä–µ–∂—ë–º –∏—Å—Ç–æ—á–Ω–∏–∫ –¥–∞–Ω–Ω—ã—Ö
        time.sleep(0.5)

–ö–∞–∂–¥—ã–π —Å–∫–∞—á–∞–Ω–Ω—ã–π —Ñ–∞–π–ª —É–Ω–∏–≤–µ—Ä—Å–∏—Ç–µ—Ç–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç –Ω–∞–º–Ω–æ–≥–æ –±–æ–ª—å—à–µ –¥–∞–Ω–Ω—ã—Ö, —á–µ–º –ø—Ä–æ—Å—Ç–æ –ø–æ–∑–∏—Ü–∏—è –≤ —Ä–µ–π—Ç–∏–Ω–≥–µ. –î–ª—è –ø—Ä–∏–º–µ—Ä–∞, –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –ø–µ—Ä–≤—ã–π —É–Ω–∏–≤–µ—Ä—Å–∏—Ç–µ—Ç –∏–∑ —Å–ø–∏—Å–∫–∞.

In [3]:
example = json.load(open(f"{data_folder}/493.json", 'r'))
example

{'address': 'Trg Republike Hrvatske 14',
 'detail': {'arwu': {'datasetId': 1,
   'intro': 'The Academic Ranking of World Universities (ARWU) was first published in June 2003 by the Center for World-Class Universities (CWCU), Graduate School of Education (formerly the Institute of Higher Education) of Shanghai Jiao Tong University, China, and updated on an annual basis. Since 2009 the Academic Ranking of World Universities (ARWU) has been published and copyrighted by ShanghaiRanking Consultancy. ShanghaiRanking Consultancy is a fully independent organization on higher education intelligence and not legally subordinated to any universities or government agencies. ARWU uses six objective indicators to rank world universities, including the number of alumni and staff winning Nobel Prizes and Fields Medals, number of highly cited researchers selected by Clarivate, number of articles published in journals of Nature and Science, number of articles indexed in Science Citation Index Expanded‚Ñ¢ and Social Sciences Citation Index‚Ñ¢ in the Web of Science‚Ñ¢, and per capita performance of a university. More than 2500 universities are actually ranked by ARWU every year and the best 1000 are published.',
   'latestVerNo': 2022,
   'nameId': 'ARWU',
   'rkHistory': [{'ranking': '401-500', 'yr': 2020},
    {'ranking': '601-700', 'yr': 2021},
    {'ranking': '401-500', 'yr': 2022}],
   'rkLatest': {'name': 'Academic Ranking of World Universities',
    'ranking': '401-500'}},
  'bcur': None,
  'gras': {'latestVerNo': 2022,
   'nameId': 'GRAS',
   'subjAdva': [{'categoryCode': 'RS02',
     'categoryNameShort': 'ENG',
     'code': 'RS0222',
     'name': 'Marine_Ocean Engineering',
     'ranking': '44'},
    {'categoryCode': 'RS02',
     'categoryNameShort': 'ENG',
     'code': 'RS0219',
     'name': 'Food Science & Technology',
     'ranking': '101-150'},
    {'categoryCode': 'RS03',
     'categoryNameShort': 'LIFE',
     'code': 'RS0304',
     'name': 'Veterinary Sciences',
     'ranking': '201-300'},
    {'categoryCode': 'RS04',
     'categoryNameShort': 'MED',
     'code': 'RS0403',
     'name': 'Dentistry & Oral Sciences',
     'ranking': '201-300'},
    {'categoryCode': 'RS05',
     'categoryNameShort': 'SOC',
     'code': 'RS0513',
     'name': 'Hospitality & Tourism Management',
     'ranking': '201-300'},
    {'categoryCode': 'RS01',
     'categoryNameShort': 'SCI',
     'code': 'RS0101',
     'name': 'Mathematics',
     'ranking': '301-400'},
    {'categoryCode': 'RS04',
     'categoryNameShort': 'MED',
     'code': 'RS0402',
     'name': 'Public Health',
     'ranking': '301-400'},
    {'categoryCode': 'RS04',
     'categoryNameShort': 'MED',
     'code': 'RS0405',
     'name': 'Medical Technology',
     'ranking': '301-400'}],
   'subjCategory': [{'code': 'RS01',
     'name': 'Natural Sciences',
     'nameShort': 'SCI',
     'subj': [{'code': 'RS0101',
       'name': 'Mathematics',
       'ranking': '301-400'}]},
    {'code': 'RS02',
     'name': 'Engineering\n',
     'nameShort': 'ENG',
     'subj': [{'code': 'RS0219',
       'name': 'Food Science & Technology',
       'ranking': '101-150'},
      {'code': 'RS0220', 'name': 'Biotechnology', 'ranking': '401-500'},
      {'code': 'RS0222',
       'name': 'Marine_Ocean Engineering',
       'ranking': '44'}]},
    {'code': 'RS03',
     'name': 'Life Sciences',
     'nameShort': 'LIFE',
     'subj': [{'code': 'RS0304',
       'name': 'Veterinary Sciences',
       'ranking': '201-300'}]},
    {'code': 'RS04',
     'name': 'Medical Sciences',
     'nameShort': 'MED',
     'subj': [{'code': 'RS0401',
       'name': 'Clinical Medicine',
       'ranking': '401-500'},
      {'code': 'RS0402', 'name': 'Public Health', 'ranking': '301-400'},
      {'code': 'RS0403',
       'name': 'Dentistry & Oral Sciences',
       'ranking': '201-300'},
      {'code': 'RS0405', 'name': 'Medical Technology', 'ranking': '301-400'},
      {'code': 'RS0406',
       'name': 'Pharmacy & Pharmaceutical Sciences',
       'ranking': '401-500'}]},
    {'code': 'RS05',
     'name': 'Social Sciences\n',
     'nameShort': 'SOC',
     'subj': [{'code': 'RS0508', 'name': 'Psychology', 'ranking': '301-400'},
      {'code': 'RS0513',
       'name': 'Hospitality & Tourism Management',
       'ranking': '201-300'}]}]}},
 'foundYear': 1669,
 'introEn': "Set up in 1669, the University of Zagreb is the oldest Croatian university, and one of the oldest in South East Europe. It was founded by Emperor and King Leopold I Habsburg as he gave the status and privileges of a university to the Jesuit Academy of Zagreb. The academy was run by Jesuits until 1773, when their rule got dissolved by Pope Clement XIV. It then started teaching Law alongside Philosophy and Theology, being the main institution to educate the Croatian intelligentsia until the end of the nineteenth century.\r\nNow the university offers a wide range of degrees including science, architecture, engineering, biomedical sciences, biotechnology, social sciences, humanities and the arts. Some of these courses get taught in English, such as the BA in Business, Economics, Engineering; MAs in Medicine, Managerial Informatics, Economics, Business, Environment, Agriculture.\r\nThe university has international agreements with the Macquarie University Sydney in Australia, the University of Toronto in Canada, the Charles University in Prague, Czech Republic, the University of Helsinki in Finland, University Panth√©on-Assas in France, Dresden University of Technology, Humboldt University in Berlin and Heidelberg University in Germany, Lomonosov Moscow State University in Russia, University of California in the US and many others.\r\nZagreb is the capital city of Croatia, with a population of 800,000. Its culture echoes both its Austro-Hungarian and Croatian past. The city often hosts international music artists. It is also home to one of the biggest open air festivals in Europe, the INmusic festival, as well as the Zagreb Jazz Festival. Zagreb's resident are easily able to also visit cities such as Vienna and Budapest, along with many other famous places in central and eastern Europe.",
 'nameEn': 'University of Zagreb',
 'programs': [],
 'ranking': '401-500',
 'rankingInfo': 'ARWU 2022',
 'region': 'Croatia',
 'regionDetail': 'Southern Europe',
 'studentsStatis': [[{'nameEn': 'Total Enrollment',
    'ratio': '',
    'value': '56853'},
   {'nameEn': 'International Students', 'ratio': '1.2%', 'value': '655'}],
  [{'nameEn': 'Undergraduate Enrollment', 'ratio': '', 'value': '22964'},
   {'nameEn': 'International Students', 'ratio': '0.6%', 'value': '128'}],
  [{'nameEn': 'Graduate Enrollment', 'ratio': '', 'value': '33889'},
   {'nameEn': 'International Students', 'ratio': '1.6%', 'value': '527'}]],
 'univLogo': 'logo/e5217fb84.png',
 'univUp': 'university-of-zagreb',
 'website': 'http://www.unizg.hr/homepage/'}

–î–ª—è —É–ø—Ä–æ—â–µ–Ω–∏—è –≤–æ–∑—å–º—ë–º —Ç–æ–ª—å–∫–æ –¥–∞–Ω–Ω—ã–µ —Å–≤—è–∑–∞–Ω–Ω—ã–µ —Å —Ä–µ—Ç—Ä–æ—Å–ø–µ–∫—Ç–∏–≤–æ–π –ø–æ –æ—Å–Ω–æ–≤–Ω–æ–º—É —Ä–µ–π—Ç–∏–Ω–≥—É –∏ –ø—Ä–µ–¥–º–µ—Ç–Ω—ã–µ —Ä–µ–π—Ç–∏–Ω–≥–∏.

In [30]:
file_numbers = sorted(list([int(x.replace('.json', '')) for x in os.listdir(data_folder)]))
rating_retro = pd.DataFrame()
rating_subject = pd.DataFrame()

for fn in file_numbers:
    file_path = f"{data_folder}/{fn}.json"
    json_data = json.load(open(file_path, 'r'))

    try:
        if json_data['detail']['arwu'] and 'rkHistory' in json_data['detail']['arwu'].keys():
            chunk_retro = pd.json_normalize(json_data['detail']['arwu']['rkHistory'])
            chunk_retro['nameEn'], chunk_retro['region']  = json_data['nameEn'], json_data['region']
            rating_retro = pd.concat([rating_retro, chunk_retro], ignore_index=True)

        if json_data['detail']['gras']['subjAdva']:
            chunk_subject = pd.json_normalize(json_data['detail']['gras']['subjAdva'])
            chunk_subject['nameEn'], chunk_subject['region'] = json_data['nameEn'], json_data['region']
            rating_subject = pd.concat([rating_subject, chunk_subject], ignore_index=True)
    except Exception as e:
        print(file_path, json_data['detail']['gras']['rkHistory'], json_data['detail']['gras']['subjAdva'])

retro_years = list(rating_retro['yr'].unique())
rating_retro.to_csv(f"data/shanghai_retro_{min(retro_years)}-{max(retro_years)}.csv", index=False)
rating_retro.to_excel(f"data/shanghai_retro_{min(retro_years)}-{max(retro_years)}.xlsx", index=False)
rating_subject.to_csv('data/shanghai_subject.csv', index=False)
rating_retro.to_excel('data/shanghai_subject.xlsx', index=False)

–í –∫–∞—á–µ—Å—Ç–≤–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –ø–æ —Ä–µ—Ç—Ä–æ—Å–ø–µ–∫—Ç–∏–≤–µ, –¥–∞–≤–∞–π—Ç–µ –ø–æ—Å–º–æ—Ç—Ä–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ä–æ—Å—Å–∏–π—Å–∫–∏—Ö —É–Ω–∏–≤–µ—Ä—Å–∏—Ç–µ—Ç–æ–≤ –ø–æ –≥–æ–¥–∞–º.

In [25]:
rating_retro[rating_retro['region'] == 'Russia'][['yr', 'nameEn']].\
    groupby(by='yr').count().rename(columns={'nameEn': 'count'})

      count
yr
2020     13
2021     13
2022     13

–ê –≤ –ø—Ä–µ–¥–º–µ—Ç–Ω—ã—Ö —Ä–µ–π—Ç–∏–Ω–≥–∞—Ö –≤—ã–¥–µ–ª–∏–º —Å–∞–º—ã–µ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–µ –æ–±–ª–∞—Å—Ç–∏ —É–Ω–∏–≤–µ—Ä—Å–∏—Ç–µ—Ç–∞–º–∏ üá∑üá∫ –†–æ—Å—Å–∏–∏.

In [32]:
rating_subject[rating_subject['region'] == 'Russia'][['name', 'nameEn']].\
    groupby(by='name').count().rename(columns={'nameEn': 'count'}).\
    sort_values(by='count', ascending=False).head(10)

                                    count
name
Physics                                 6
Metallurgical Engineering               6
Biological Sciences                     4
Nanoscience & Nanotechnology            4
Mathematics                             4
Materials Science & Engineering         3
Agricultural Sciences                   2
Economics                               2
Pharmacy & Pharmaceutical Sciences      2
Mechanical Engineering                  2